@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: url("https://ranjeet.blr1.cdn.digitaloceanspaces.com/assets/bg.png");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  background: url("../public/images/background-mobile.svg");
  background-size: 100%;
  background-position: center;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  :root {
    background: url("../public/images/background-tablet.svg");
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    background: url("../public/images/background-desktop.svg");
  }
}
.text-shadow {
  color: #fff;
  -webkit-text-stroke: 16px #243041;
  text-shadow: 0 6px 1px black;
}

.gradient-text {
  background: linear-gradient(to bottom, #67b6ff 25%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-gradient {
  background: linear-gradient(to bottom, #fe71fe 25%, #7199ff 100%);
}

.hover-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

.hover-effect:hover::before {
  opacity: 0.25;
}
.hover-effect:focus::before {
  opacity: 0.25;
}

.desc-card {
  display: grid;
  grid-template-columns: 30px calc(100% - 30px);
}

@media only screen and (min-width: 650px) {
  .desc-card {
    grid-template-columns: 100px calc(100% - 100px);
  }
}
